body{
  padding-top: 5px;
}
.header {
  display: flex;
  flex-direction: row wrap;
  text-align: left;
}

h3 {
  padding: 2px;
  text-decoration: underline;
}

.quotes-container {
  display: flex;
  margin: 3em 2em 2em 2em;
  text-align: center;
  border: 5px solid #F9D47B;
  padding: 1.5em;
  max-width: 100%;
}

hr {
  width: 20%;
  border: 1px solid #F9D47B;
}

.content {
  width: 100%;
  height: auto;
  font-size: 18px;
  padding: 8px;
  background-color: #faeede;
}

#quote-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

#quote-author {
  text-align: center;
  font-weight: 100;
}

#quotes-button {
  width: 144px;
  height: 48px;
  margin: 1.5em 0em 1.5em 0em;
  border-radius: 3px;
  border: solid 2px #6496c8;
}

#quotes-button:hover {
  border-color: #346392;
}

#quotes-button:active {
  background-color: #F9D47B;
}

#tweet-button {
  margin-top: 20px;
}

#tweet-button:hover {
  background-color: #c0deed;
  border-radius: 3px;
  padding: 5px;
  opacity: 0.6;
}

#tweet-button:active {
  background-color: #0084b4;
}

#tweet-text {
  margin: -3px;
  font-size: 14px;
  padding-bottom: 5px;
}


.my-social{
  width: 100%;
  position:relative;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
